.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  row-gap: 1rem;
}

/* Styles for the main container of the blocks */
.first_block {
  display: flex; /* Aligns children in a row */
  justify-content: space-between; /* Adds space between left and right blocks */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Full width of the container */
  padding: 20px; /* Optional: add padding */
  gap: 10px; /* Optional: space between the blocks */
}

/* Styles for the left block */
.first_block_left {
  width: 45%; /* Set width for the left block */
}

/* Styles for the right block */
.first_block_right {
  width: 45%; /* Set width for the right block */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the image to fit inside the right block */
.first_block_right img {
  width: 100%; /* Image takes full width of the right block */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures image fits within the container without cropping */
  max-width: 500px;
  max-height: fit-content;
  border-radius: 10px;
}

.first_block_left p:first-child {
  font-weight: 500;
  font-style: normal;
  font-size: 34px;
}
.first_block_left p:nth-child(2) {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #7d7987;
}

.first_block_left button {
  background-color: #f9a826;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: fit-content;
  width: 100px;
  background-color: #458ff6;
  cursor: pointer;
}

.first_block_left button:hover {
  background-color: #3f7ae0;
}

.first_block_left button p {
  padding: 0px;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.second_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.second_block_upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 20px;
}

.second_block_upper p:first-child {
  padding: 0px;
  font-size: 26px;
  font-weight: 500;
}

.second_block_upper p:nth-child(3) {
  padding: 0px;
  font-size: 14px;
  font-weight: 300;
  color: #7d7987;
  text-align: center;
}

.second_block_lower {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 70%;
}

.third_block {
  display: flex; /* Aligns children in a row */
  justify-content: space-between; /* Adds space between left and right blocks */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Full width of the container */
  padding: 20px; /* Optional: add padding */
  gap: 10px; /* Optional: space between the blocks */
}

/* Styles for the left block */
.third_block_left {
  width: 45%; /* Set width for the left block */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the right block */
.third_block_right {
  width: 45%; /* Set width for the right block */
}

.third_block_left img {
  width: 100%; /* Image takes full width of the right block */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures image fits within the container without cropping */
  max-width: 500px;
  max-height: fit-content;
  border-radius: 10px;
}

.third_block_right p:first-child {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 200px;
  margin-bottom: 5px;
}
.third_block_right p:nth-child(3) {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #7d7987;
}

.fourth_block {
  display: flex; /* Aligns children in a row */
  justify-content: space-between; /* Adds space between left and right blocks */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Full width of the container */
  padding: 20px; /* Optional: add padding */
  gap: 10px; /* Optional: space between the blocks */
}

/* Styles for the left block */
.fourth_block_left {
  width: 45%; /* Set width for the left block */
}

/* Styles for the right block */
.fourth_block_right {
  width: 45%; /* Set width for the right block */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourth_block_left p:first-child {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 200px;
  margin-bottom: 5px;
}

.fourth_block_right img {
  width: 100%; /* Image takes full width of the right block */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures image fits within the container without cropping */
  max-width: 500px;
  max-height: fit-content;
  border-radius: 10px;
}
.fourth_block_left p:nth-child(3) {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #7d7987;
}

.fith_block {
  display: flex; /* Aligns children in a row */
  justify-content: center; /* Adds space between left and right blocks */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Full width of the container */
  padding: 20px; /* Optional: add padding */
  gap: 4rem; /* Optional: space between the blocks */
}
