.taskContainer {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 15px;
  width: 300px;
  border-left: 8px solid transparent; /* Default left border */
}

.taskContainer.high {
  border-left-color: #f44336; /* Red for high priority */
}

.taskContainer.medium {
  border-left-color: #ff9800; /* Orange for medium priority */
}

.taskContainer.normal {
  border-left-color: #2196f3; /* Blue for normal priority */
}

.taskContainer.low {
  border-left-color: #4caf50; /* Green for low priority */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0px;
}

.description {
  margin-bottom: 15px;
}

.description p {
  font-size: 14px;
  color: #666;
  margin: 0px;
}

.assignees,
.assigner {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assignees h3,
.assigner h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.assignees ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px; /* Add spacing between list items */
  margin: 0;
  align-items: center;
}

.assignees li {
  font-size: 14px;
  color: #333;
}

.assigner p {
  font-size: 14px;
  color: #333;
  margin: 0px;
}

.ticket_id {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}
